@import "tailwindcss";

/* Custom Scrollbar for the list */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #0f172a; 
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155; 
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569; 
}

/* Visualizer Animation */
@keyframes music-bar {
  0% { height: 10%; }
  50% { height: 100%; }
  100% { height: 10%; }
}

.animate-music-bar {
  animation: music-bar 1s infinite ease-in-out;
}